*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #111;
    color: white;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

#text h1 {
    font-size: 3rem;
    font-weight: 600;
}

#h1Text span {
    display: inline-block;
}

/* .start{
    font-size: 3rem;
    font-weight: 600;
  color: white;
}

.end{
    font-size: 4rem;
    font-weight: 900;
    color: gray;
} */