/* Make the whole document behave like a vertical 3-page layout */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.nigggaDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.page1,
.page2,
.page3 {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page1 {
    background-color: #000000;
}

.page2 {
    background-color: rgb(64, 221, 218);
    padding: 20px 0px;
}

.page3 {
    background-color: #000000;
}
.page2 h2 {
    font-size: 40vw;
    font-weight: 700;
    transform: translateX(30%);
}
