*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: azure;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7px;
    text-align: center;

}

#box{
    height: 50vw;
    width: 50vw;
    background-color: brown;
}


  